<?xml version="1.0" encoding="gb2312" ?>
<configuration>

<system.web>
    <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" />
    <compilation defaultLanguage="vb" debug="false" />
    <httpRuntime maxRequestLength="500000" executionTimeout="1800" />
    <customErrors mode="Off" />
</system.web>

</configuration>
